<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control Application</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <div class="header">
        <a href="#default"><img class="logo" src="../static/picture/tut.png"></img></a>
        <div class="header-right">
            <p class="app-name">Robot App Control</p>
        </div>
    </div>

    <div class="choosing-board">
        <p class="choosing-board-title">Choose Mode</p>
        <a href="mapping"><button class="mapping-btn">MAPPING</button></a>
        <div class="navigation-dropdown">
            <button class="navigation-btn">NAVIGATION</button>
            <div class="navigation-dropdown-content">
                <a href="#">LINK 1</a>
                <a href="#">LINK 2</a>
                <a href="#">LINK 3</a>
            </div>
        </div>
    </div>

    <a href=vmd_timestamp ></a>
</body>
</html>