<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapping</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/easeljs.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/eventemitter2.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/roslib.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ros2d.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nav2d.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.7.3/nipplejs.js"></script>

    <script type="text/javascript" src="../static/js/mapping.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mapping.css')}}">

</head>
<body>
    <div class="header">
        <a href="#default"><img class="logo" src="../static/picture/tut.png"></img></a>
        <div class="header-right">
            <p class="app-name">Robot App Control</p>
        </div>
    </div>

    <div id="nav" class="canvasScreen"></div>

    <div class="control-board">
        <div id="zone_joystick" style="position: relative;"></div>
        <div class="control-board-right">
            <a class="savemap-btn" href="#">SAVE MAP</a>
            <a class="navigation-btn" href="#">MAPPING</a>
        </div>
    </div>

</body>
</html>